<!DOCTYPE html>
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- SITE META -->
    <title>Catalog | Responsive Marketplace Showcase Template</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
    <!-- TEMPLATE STYLES -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- START SITE -->
    <div id="wrapper">
      <nav class="hidden-xs cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3><i class="fa fa-star-o"></i> Your Favorites</h3>
        <ul>
          <li>
            <img src="<%= asset_path('upload/item_01.jpg') %>" alt="" class="alignleft img-responsive">
            <h4><a href="single-item.html">User Profile App</a></h4>
            <small><a href="single-item.html"><i class="fa fa-eye"></i> 221</a></small>
            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 05</a></small>
          </li>
          <li>
            <img src="<%= asset_path('upload/item_02.jpg') %>" alt="" class="alignleft img-responsive">
            <h4><a href="single-item.html">Mail Application</a></h4>
            <small><a href="single-item.html"><i class="fa fa-eye"></i> 435</a></small>
            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 13</a></small>
          </li>
          <li>
            <img src="<%= asset_path('upload/item_03.jpg') %>" alt="" class="alignleft img-responsive">
            <h4><a href="single-item.html">Showcase Podcast</a></h4>
            <small><a href="single-item.html"><i class="fa fa-eye"></i> 551</a></small>
            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 12</a></small>
          </li>
          <li>
            <img src="<%= asset_path('upload/item_04.jpg') %>" alt="" class="alignleft img-responsive">
            <h4><a href="single-item.html">Login Box (Custom)</a></h4>
            <small><a href="single-item.html"><i class="fa fa-eye"></i> 412</a></small>
            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 55</a></small>
          </li>
        </ul>
        <a href="shop-favorites.html" class="btn btn-primary">Go to Favorites</a>
      </nav>
      <header class="header">
        <div class="container-menu">
          <nav class="navbar navbar-default yamm">
            <div class="container">
              <div class="navbar-table">
                <div class="navbar-cell">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><i class="fa fa-hashtag"></i> Catalog</a>
                    <div class="open-menu">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="fa fa-bars"></span>
                      </button>
                    </div>
                  </div>
                  <!-- end navbar-header -->
                </div>
                <!-- end navbar-cell -->
                <div class="navbar-cell stretch">
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <div class="navbar-cell">
                      <ul class="nav navbar-nav navbar-center">
                        <li><a class="active" href="index.html" title="">Home</a></li>
                        <li class="dropdown megamenu yamm-half hovermenu">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Features <b class="fa fa-angle-down"></b></a>
                          <ul class="dropdown-menu">
                            <li>
                              <div class="yamm-content">
                                <div class="row">
                                  <div class="col-md-4 col-sm-6">
                                    <div class="box">
                                      <ul>
                                        <li><a href="shop-four.html">Shop 4 Columns</a></li>
                                        <li><a href="shop-three.html">Shop 3 Columns</a></li>
                                        <li><a href="shop-two.html">Shop 2 Columns</a></li>
                                        <li><a href="shop-infinite.html">Shop Infinite</a></li>
                                        <li><a href="shop-filterable.html">Shop Filterable</a></li>
                                        <li><a href="single-item.html">Shop Details (Single Item)</a></li>
                                        <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                        <li><a href="shop-favorites.html">Shop Favorites</a></li>
                                      </ul>
                                    </div>
                                    <!-- end box -->
                                  </div>
                                  <!-- end col -->
                                  <div class="col-md-4 col-sm-6">
                                    <div class="box">
                                      <ul>
                                        <li><a href="stores.html">All Stores</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="services.html">Custom Services</a></li>
                                        <li><a href="pricing.html">Pricing & Plan</a></li>
                                        <li><a href="search.html">Search Results</a></li>
                                        <li><a href="maintenance.html">Maintenance Mode</a></li>
                                        <li><a href="page.html">Page Sidebar</a></li>
                                      </ul>
                                    </div>
                                    <!-- end box -->
                                  </div>
                                  <!-- end col -->
                                  <div class="col-md-4 col-sm-6">
                                    <div class="box">
                                      <ul>
                                        <li><a href="page-fullwidth.html">Page Fullwidth</a></li>
                                        <li><a href="page-404.html">404 - Not Found</a></li>
                                        <li><a href="elements.html">All Elements</a></li>
                                        <li><a href="login.html">Login & Register</a></li>
                                        <li><a href="faqs.html">FAQS & Support</a></li>
                                        <li><a href="single-forum.html">Single Forum</a></li>
                                        <li><a href="single.html">Single Blog</a></li>
                                        <li><a href="bundle.html">Bundle (Landing Page)</a></li>
                                      </ul>
                                    </div>
                                    <!-- end box -->
                                  </div>
                                  <!-- end col -->
                                </div>
                              </div>
                              <!-- end ttmenu-content -->
                            </li>
                          </ul>
                        </li>
                        <!-- end mega menu -->
                        <li class="dropdown megamenu yamm-half hovermenu">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Market <b class="fa fa-angle-down"></b></a>
                          <ul class="dropdown-menu">
                            <li>
                              <div class="yamm-content">
                                <div class="row">
                                  <div class="col-md-6 col-sm-6">
                                    <div class="box">
                                      <h5>Market Categories</h5>
                                      <ul>
                                        <li><a href="category.html"><i class="fa fa-apple"></i> IOS Applications</a></li>
                                        <li><a href="category.html"><i class="fa fa-android"></i> UI - GUI Kits</a></li>
                                        <li><a href="category.html"><i class="fa fa-fonticons"></i> Icons & Fonts</a></li>
                                        <li><a href="category.html"><i class="fa fa-envelope-o"></i> Email Templates</a></li>
                                        <li><a href="category.html"><i class="fa fa-html5"></i> Site Templates</a></li>
                                        <li><a href="category.html"><i class="fa fa-gear"></i> Admin Templates</a></li>
                                        <li><a href="category.html"><i class="fa fa-laptop"></i> Landing Templates</a></li>
                                      </ul>
                                    </div>
                                    <!-- end box -->
                                  </div>
                                  <!-- end col -->
                                  <div class="col-md-6 col-sm-6">
                                    <div class="box">
                                      <h5>User Profile</h5>
                                      <ul>
                                        <li><a href="edit-account.html">Edit Account</a></li>
                                        <li><a href="public-profile.html">Public profile</a></li>
                                        <li><a href="sales.html">My Sales</a></li>
                                        <li><a href="messages.html">Messages</a></li>
                                        <li><a href="upload-item.html">Upload Item</a></li>
                                        <li><a href="downloads.html">Downloads</a></li>
                                        <li><a href="login.html">Login & Register</a></li>
                                      </ul>
                                    </div>
                                    <!-- end box -->
                                  </div>
                                  <!-- end col -->
                                </div>
                              </div>
                              <!-- end ttmenu-content -->
                            </li>
                          </ul>
                        </li>
                        <!-- end mega menu -->
                        <li><a href="forum.html" title="">Forum</a></li>
                        <li><a href="blog.html" title="">Blog</a></li>
                        <li><a href="contact.html" title="">Contact</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown membermenu hovermenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="<%= asset_path('upload/member.png') %>" alt="" class="img-circle"> <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li class="dropdown-header">Profile</li>
                            <li><a href="edit-account.html">Edit Account</a></li>
                            <li><a href="#">Logout</a></li>
                            <li>
                              <hr>
                            </li>
                            <li class="dropdown-header">Dashboard</li>
                            <li><a href="public-profile.html">Public profile</a></li>
                            <li><a href="sales.html">My Sales</a></li>
                            <li><a href="messages.html">Messages</a></li>
                            <li><a href="upload-item.html">Upload Item</a></li>
                            <li><a href="downloads.html">Downloads</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <!-- end navbar-cell -->
                  </div>
                  <!-- /.navbar-collapse -->        
                </div>
                <!-- end navbar cell -->
              </div>
              <!-- end navbar-table -->
            </div>
            <!-- end container fluid -->
          </nav>
          <!-- end navbar -->
        </div>
        <!-- end container -->
      </header>
      <section class="section single-wrap">
        <div class="container">
          <div class="page-title public-profile-title">
            <div class="row">
              <div class="col-sx-12 text-center">
                <h3>Catalog Marketplace</h3>
                <p>Hundreds of PSD templates, mobile applications, UI & material elements! Upload your own <br> handmade digital items and make money!</p>
                <a href="#" class="followbtn">Create Store</a> <span>-</span> <a href="#" class="followbtn">Upload Work</a> <span>-</span> <a href="#" class="followbtn">Earn Money</a> 
              </div>
            </div>
          </div>
          <div class="content-top">
            <div class="row">
              <div class="col-sx-6 col-sm-6">
                <div class="custommenu hidden-xs">
                  <a id="showLeft" href="#" title="" class="bt-menu-trigger"><i class="fa fa-bars"></i> <img src="<%= asset_path('upload/fav.png') %>" alt=""></a>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12 cen-xs text-right">
                <ul class="list-inline social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end content top -->
          <div class="content-before">
            <div class="row">
              <div class="col-md-6 col-sx-12 cen-xs">
                <form class="dropForm">
                  <div class="input-prepend">
                    <div class="btn-group">
                      <select name="orderby" class="selectpicker">
                        <option>All Platforms</option>
                        <option>IOS Apps</option>
                        <option>Android Apps</option>
                        <option>UI Kits</option>
                        <option>Site Templates</option>
                        <option>WordPress Themes</option>
                      </select>
                    </div>
                    <input type="text" class="form-control" placeholder="Search anything here.">
                    <button class="btn btn-primary" tabindex="-1"><i class="fa fa-search"></i></button>
                  </div>
                </form>
              </div>
              <div class="col-md-6 text-right hidden-xs">
                <div class="catalog-order">
                  <select name="orderby" class="selectpicker">
                    <option value="popularity">Sort by Popularity</option>
                    <option value="rating">Sort by Average Rating</option>
                    <option value="date" selected='selected'>Sort by Newness</option>
                    <option value="price">Sort by Price: Low to High</option>
                    <option value="price-desc">Sort by Price: High to Low</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end content before -->
          <div class="content">
            <div class="row">
              <div class="col-md-12 general-title">
                <h4>Recent Items <span class="hidden-xs"><a href="shop-four.html">View all</a></span></h4>
                <hr>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_01.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_01.jpg') %>" class="img-circle" alt=""> Amanda</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$21</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Weather Forecast</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 893</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 12</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_02.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_02.jpg') %>" class="img-circle" alt=""> Bob</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$5</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Google Map Collection</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 221</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 05</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_03.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_03.jpg') %>" class="img-circle" alt=""> Selena</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$5</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Podcast App</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 412</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 31</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_04.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_04.jpg') %>" class="img-circle" alt=""> Mark</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$25</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">DJ Club Software</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 123</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 03</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_05.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_05.jpg') %>" class="img-circle" alt=""> John</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$12</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">User Profile App</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 441</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 21</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_06.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_06.jpg') %>" class="img-circle" alt=""> Mark</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$25</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Mail Application</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 31</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 04</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_07.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_07.jpg') %>" class="img-circle" alt=""> Jenny</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">Free</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Login Box (Custom)</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 1235</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 46</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_08.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_01.jpg') %>" class="img-circle" alt=""> Seden</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$6</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Profile Application</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 125</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 55</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_09.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member.png') %>" class="img-circle" alt=""> Samanta</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">Free</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Twitter App Re-design</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 223</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 51</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_10.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_02.jpg') %>" class="img-circle" alt=""> Martin</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$21</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Payment Monitor</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 123</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 31</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_11.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member.png') %>" class="img-circle" alt=""> Samanta</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$15</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Showcase Podcast</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 331</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 51</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_12.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_04.jpg') %>" class="img-circle" alt=""> Boby</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$33</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Phone Back-Front</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 213</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 12</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_13.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_04.jpg') %>" class="img-circle" alt=""> Boby</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">Free</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Custom Gallery Icon</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 123</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 44</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_16.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member.png') %>" class="img-circle" alt=""> Samanta</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">$23</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">Commission Rate</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 223</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 51</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_14.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_04.jpg') %>" class="img-circle" alt=""> Boby</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">Free</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">10+ Landing Pages</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 33</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 14</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
              <div class="col-md-3 col-sm-6">
                <div class="item-box">
                  <div class="item-media entry">
                    <img src="<%= asset_path('upload/item_15.jpg') %>" alt="" class="img-responsive">
                    <div class="magnifier">
                      <div class="item-author">
                        <a href="public-profile.html"><img src="<%= asset_path('upload/member_04.jpg') %>" class="img-circle" alt=""> Boby</a>
                      </div>
                      <!-- end author -->
                    </div>
                    <div class="theme__button">
                      <p><a href="single-item.html" title="">Free</a></p>
                    </div>
                  </div>
                  <!-- end item-media -->
                  <h4><a href="single-item.html">22+ Android Logos</a></h4>
                  <small><a href="single-item.html"><i class="fa fa-eye"></i> 441</a></small>
                  <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 32</a></small>
                </div>
                <!-- end item-box -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end content -->
          <div class="content-after text-center boxs">
            <div class="row">
              <div class="col-md-12">
                <nav class="pagination-wrapper">
                  <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end content after -->
          <div class="stores boxs">
            <div class="row">
              <div class="col-md-12 general-title">
                <h4>Featured Store <span class="hidden-xs"><a href="stores.html">View all</a></span></h4>
                <hr>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row homefeatured">
              <div class="col-md-12">
                <div class="storelist panel panel-info">
                  <div class="panel-body">
                    <div class="form-group row">
                      <div class="col-sm-3 col-xs-12">
                        <img alt="" class="img-responsive img-thumbnail" src="<%= asset_path('upload/store_09.jpg') %>">
                      </div>
                      <div class="col-sm-2 col-xs-12">
                        <h4><a href="public-profile.html">MockupZone</a></h4>
                        <ul>
                          <li><a href="#"><i class="fa fa-envelope-o"></i> Get Support</a></li>
                          <li><a href="public-profile.html"><i class="fa fa-image"></i> 123 Items</a></li>
                          <li><a href="single-item.html"><i class="fa fa-shopping-cart"></i> 2021 Sales</a></li>
                          <li><i class="fa fa-map-marker"></i> Amsterdam</li>
                        </ul>
                      </div>
                      <div class="col-md-5 col-xs-12">
                        <ul class="list-inline">
                          <li><a href="single-item.html" class="screenshot" data-gal="<%= asset_path('upload/item_01.jpg') %>" title="This is an item title <span>$12.00</span>"><img class="img-responsive img-thumbnail" src="<%= asset_path('upload/item_01.jpg') %>" alt=""></a></li>
                          <li><a href="single-item.html" class="screenshot" data-gal="<%= asset_path('upload/item_02.jpg') %>" title="This is an item title <span>$12.00</span>"><img class="img-responsive img-thumbnail" src="<%= asset_path('upload/item_02.jpg') %>" alt=""></a></li>
                          <li><a href="single-item.html" class="screenshot" data-gal="<%= asset_path('upload/item_03.jpg') %>" title="This is an item title <span>$12.00</span>"><img class="img-responsive img-thumbnail" src="<%= asset_path('upload/item_03.jpg') %>" alt=""></a></li>
                          <li><a href="single-item.html" class="screenshot" data-gal="<%= asset_path('upload/item_04.jpg') %>" title="This is an item title <span>$12.00</span>"><img class="img-responsive img-thumbnail" src="<%= asset_path('upload/item_04.jpg') %>" alt=""></a></li>
                          <li><a href="single-item.html" class="screenshot" data-gal="<%= asset_path('upload/item_05.jpg') %>" title="This is an item title <span>$12.00</span>"><img class="img-responsive img-thumbnail" src="<%= asset_path('upload/item_05.jpg') %>" alt=""></a></li>
                        </ul>
                      </div>
                      <!-- end col -->
                      <div class="col-sm-2 col-xs-12 text-center">
                        <ul>
                          <li><a href="#" class="btn btn-primary btn-block">Follow Store</a></li>
                          <li><a href="public-profile.html" title="">192 Followers</a></li>
                          <li><a href="public-profile.html" title="">44 Following</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- end form-group -->   
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end r0w -->
          </div>
          <!-- end stores -->
          <div class="refer-messages">
            <div class="row text-center">
              <div class="col-md-6">
                <div class="boxes boxs">
                  <i class="fa fa-line-chart"></i>
                  <h3>Sell your Handcrafts</h3>
                  <p>Create your account, build your store and sell your custom works with tons of clients.</p>
                  <a href="#" class="btn btn-primary">Upload Your Work</a>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="boxes boxs">
                  <i class="fa fa-money"></i>
                  <h3>Refer Your Friends</h3>
                  <p>We pay you 30% on every sale you generate. If you run a website, or have a place to display a banner.</p>
                  <a href="#" class="btn btn-primary">Get Your Link</a>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end refer-messages -->
          <div class="content-message boxs">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                <h2>See why over 10,000 designers and developers trust Catalog. Ready to take your marketplace to the next level?</h2>
                <a href="#" class="btn btn-default btn-lg">Join Today</a>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end content message -->
        </div>
        <!-- end container -->
      </section>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <div class="media cen-xs">
                <p>
                  &copy; Catalog INC. 2016 - All Rights Reserverd.<br>
                  Idea by <a class="madeby" href="http://showwp.com">Show WP</a> made with <i class="fa fa-heart"></i> coded with <i class="fa fa-html5"></i>
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <ul class="list-inline text-right cen-xs">
                <li><a href="#">Home</a></li>
                <li><a href="#">Site Terms</a></li>
                <li><a href="#">Copyrights</a></li>
                <li><a href="#">License</a></li>
                <li><a href="#">Legal</a></li>
                <li><a class="topbutton" href="#">Back to top <i class="fa fa-angle-up"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </footer>
      <!-- end footer -->
    </div>
    <!-- end wrapper -->
    <!-- END SITE -->
    <!-- <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script> -->
  </body>
</html>